body {
    background-color: #00c2ec;
}
#flex {
    display: flex;
    flex-direction: row;
}

nav {
    background-color:#ececec;
}
main {
     background-color:#ffffff;
}
hl {
    color: red;
}
body {
    background-color:  #00c2ec;
}
#flex {
     display: flex;
    flex-direction: row;
}
